<a href="https://colab.research.google.com/github/vvvsk91/Vamsi/blob/master/Multiple_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
## import dataset from local drive
url="https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv"
dataset =pd.read_csv(url)
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [10]:
from google.colab import files
uploaded = files.upload()

Saving 50_Startups.csv to 50_Startups.csv

In [26]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['50_Startups.csv']))
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [27]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,4]

In [28]:
# Convert the columns in catagorical columns

states=pd.get_dummies(x['State'],drop_first=True)

In [29]:
# drop the states column

x=x.drop('State',axis=1)

In [37]:
# concat the dummay variables

x=pd.concat([x,states],axis=1)

In [38]:
# split the dataset into test and training

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2, random_state=0)

In [39]:
# fitting multiple linear regression to tarin set

from sklearn.linear_model import LinearRegression
regressor= LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
#predicting the test set results

y_pred = regressor.predict(x_test)

from sklearn.metrics import r2_score

score= r2_score(y_test, y_pred)

score

0.9347068473282426